<!DOCTYPE html>
<html lang="en">
    <%- include('head')  %> 
<body>
    <%- include("layouts/navbar")  %> 



<% if(funnys.length === 0){ %>
    <div class="text-center">
      <h1 class="display-2">404 - Not found</h1>

    </div>

   
    
    <% }else { %>
      <div class="container">

        <style>
          .bg{
            height: 400px;
            background-image: url('<%= funnys.pic %>');
            width: 1200px;
              background-repeat: no-repeat;
          }
        </style>
      <h1 class="display-3">
        <%= funnys.title  %> 
      </h1>
        <div class="bg">
          
        </div>
     
      
      <p><%= funnys.date  %> </p>
      <p class="lead">
        <%= funnys.desc  %> 
      </p>
    </div>
      
      <% } %>


    </body>
    <br>
    <%- include("layouts/footer")  %> 
    </html>